form#advanced-cookiebar-config-form div.form-item.form-type-textfield {
    display: inline-block;
}

form#advanced-cookiebar-config-form input.form-submit{
    display: block;
}

a.lang_link {
    margin-right: 15px;
}
a.lang_link.active {
    text-decoration: underline;
}
