/*********************************/
/*         cookiebar bar         */
/*********************************/
body{
  background: red;
}
#advanced-cookiebar-container * {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#advanced-cookiebar-container {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 0;
    z-index: 1000;
}

#advanced-cookiebar-container span.cookiebar-label{
    font-weight: bolder;
}

/*********************************/
/*         cookiebar radio       */
/*********************************/
.advanced-css-cookiebar-radio input[type="radio"] {
    margin: 4px 0 0;
    line-height: normal;
}

.advanced-css-cookiebar-radio label {
    padding: 15px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

/*********************************/
/*         cookies page          */
/*********************************/
.advanced-css-cookiebar-page{
    margin-top: 50px;
}
