{{ attach_library('advanced_cookiebar/advanced-cookiebar-css-basic') }}
{#
/**
 * @file
 * Default template implementation to display the cookiebar block.
 *
 * Available variables:
 *   - Theme
 *   - isCookie
 *   - label
 *   - text
 *   - accept_button_text
 *   - decline_button_text
 *
 * @see template_preprocess_advanced_cookiebar()
 *
 * @ingroup themeable
 */
#}
<div id="advanced-cookiebar-container" style="display: none;">
    <div class="cookiebar">
        <span class="cookiebar-label">{{ label }}</span>
        {{ text }}
        <a href="javascript();" data-primarycookies="true" class="btn btn-primary advanced-cookiebar-basic-button">{{ accept_button_text }}</a>
        <a href="javascript();" data-primarycookies="false" class="btn btn-danger advanced-cookiebar-basic-button">{{ decline_button_text }}</a>
    </div>
</div>
